$border-radius: 6px;

.flat-card {
  // flex-grow: 1;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 180px;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: $border-radius;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 6px;
  margin-top: 12px;


  .flat-card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px;
    h3 {
      font-weight: bold;
    }
  }
}

.flat-card.selected {
  box-shadow: 0 0 0 4pt red;
}
