.flat-list {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  height: 100vh;
}

@media screen and (max-width: 992px) {
  .flat-list {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .flat-list {
    grid-template-columns: 1fr;
  }
}

//
// .flat-list {
//   align-content: flex-start;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin: 0 auto;
//   flex-wrap: wrap;
//   overflow-y: scroll;
//   height: 100vh;
// }
